# Auto detect text files and perform LF normalization
* text=auto
# ISA 401: Business Intelligence & Data Visualization), ethan vukovic, Semester: Fall 2026,  Data Acquisition & Transformation, Data Visualization & Communication, Exploratory Data Mining & Project Synthesis