.Renviron
/.Rproj.user
/apps/job_scout_chat/.shinychat
/apps/job_scout_chat/shiny_bookmarks
apps/job_scout_chat/apikey (1).txt
/apps/midwest_airbnb/.shinychat
/apps/midwest_airbnb_chat/.shinychat
.Rhistory
